.block_timeline {
  background:map-get($colors,tropical-blue);
  &__row {
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:50px 0;
    @media (min-width: 724px) {
      padding:100px 0;
    }
    &__title {
      max-width:1200px;
      font-weight: 300;
      margin:0 auto 37px;
      text-align: center;
      color:map-get($colors,matisse);
      width:100%;
      font-size:rem-calc(40px);
      line-height: rem-calc(50px);
      @include media-breakpoint-up(md) {
        font-size:rem-calc(45px);
        line-height: rem-calc(56px);
        text-align: left;
      }

    }
    &__description {
      padding:0 15px;
      font-weight:400;
      font-size: 22px;
      line-height: 34px;
      margin:0 auto 37px;
      color:black;
      width:100%;
      @media (min-width: 825px) {
          max-width:825px;
          padding:0;
      }
  }
    &__box {
      width: 100%;
      max-width:322px;
      @media (min-width: 724px) {
        max-width:100%;
        
      }
      @media (min-width: 1448px) {
        max-width:1448px;
      }
      .glide {
        &__slide {
          &--active {
            .step {
              background: #93D1F5 0% 0% no-repeat padding-box;
              box-shadow: 0px 7px 11px #00000029;
            }
          }
        }
        .glide__arrow {
          color:map-get($colors, matisse);
          font-size:rem-calc(40);
          padding:0;
          background: none;
          border:0;
          box-shadow: none;
          &:hover{
            color:map-get($colors,jordy-blue);
          }
          &--left {
            left:-35px;
          }
          &--right {
              right:-35px;
          }
        }
      }
      .step {
        width: 329px;
        margin:20px;
        min-height: 454px;
        background: center;
        padding:rem-calc(100px 30px 0);
        position:relative;
        &::after {
          height:3px;
          width: 80px;
          background:#FA5B62;
          content: ' ';
          position:absolute;
          display:block;
          left: -1px;
          z-index: 999;
          top: 120px;
        }
        &::before {
          height:3px;
          width: 114px;
          background:#FA5B62;
          content: ' ';
          position:absolute;
          display:block;
          right: -35px;
          z-index: 999;
          top: 120px;
        }

        .title {
          font-weight: 400;
          font-size: 22px;
          line-height: 34px;
          color:map-get($colors,matisse);
          max-width:200px;
          margin:0 auto;
        }
        .year {
          font-weight:800;
          font-size: 45px;
          line-height: 56px;
          color:map-get($colors,matisse);
          text-align:center;
          &::before {
            width:rem-calc(18px);
            height: rem-calc(18px);
            background: #FA5B62;
            content: ' ';
            position:absolute;
            display:block;
            border-radius: 50%;
            left: 70px;
            top: 112px;
          }
        }
      }
    }
    
  }
}
