.block-steps {
    max-width: 100%;
    background-color: var(--vanebo-162c46-vanebo-blaa);
    min-height: 50vh;
    &__title {
        text-align: center;
        color: map-get($colors, white);
        padding: 3rem 1rem 0 0;
        line-height: 52px;
        font-weight: 600;
        letter-spacing: 2;
        @media (min-width: 768px) {
            padding: 5rem 2rem 0;
        }
    }
    &__row {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 0 50px 0;
        @media (min-width: 768px) {
            padding:0 0 100px 0;
            max-width: 1200px;
            margin: auto;
        }
    }
    &__content {
            padding:0 15px;
            font-weight:400;
            font-size: 22px;
            line-height: 34px;
            margin:0 auto 37px;
            color:black;
            width:100%;
            @media (min-width: 825px) {
                max-width:825px;
                padding:0;
            }
    }
    .step {
        min-width: 160px;            
        text-align: center;
        flex: 1 0 calc(100% - 10px);
        margin: 30px 0;
        @media (min-width: 768px) {
            flex: 1 0 calc(50% - 10px);
            margin:70px 0;
          }
          @media (min-width: 1024px) {
            flex: 1 0 calc(25% - 10px);
          }
        &__title {
            color:map-get($colors, white);
            font-size: 28px;
            line-height:40px;
            font-weight:500;
            display: inline-block;
            padding-right: 1.5rem;
            transition: padding-right 0.5s;
            a {
                color:map-get($colors, white);
                i {
                    font-size:rem-calc(24px);
                    margin-left:rem-calc(20px);
                }
            }
            &:hover {
                cursor: pointer;
                text-decoration: underline;
                padding-right: 2.5rem;
            }
        }
        &__image {
            margin-bottom:15px;
            min-height: 112px;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 165px;
            img {
                margin: 0 auto;
                max-width: 178px;
                max-height: 165px;
            }
        }
        &__arrow {
            display: inline-block;
            width: 12px;
            height: 18px;
        }
    }    
}