.block-show-posts {
    position: relative;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    &__single-post {
        width: 30%;
        margin: rem-calc(10px);
    }

    }