.bsf-bg-blue {
    background:map-get($colors,tropical-blue);
}
.block-single-feature {
    display:flex;
    justify-content:flex-start;
    max-width:1600px;
    margin:0 auto;
    padding:50px 15px;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
        padding:200px 15px;
    }
    @media (min-width: 1600px) {
        max-width:1600px;
    }
    &__media {
        width: 100%;
        padding-bottom:10px;
        &.no-padding-top {
            padding-top:0px; 
        }
        @media (min-width: 768px) {
            width: 50%; 
            padding-bottom:0px;
            padding-top:90px;
        }
    }
    &__text {
        width:100%;
        display:flex;
        flex-flow: column;
        justify-content: space-between;
        margin-top:0px;
        padding:0;
        @media (min-width: 768px) {
            width: 50%;
            padding: 0px 10px 40px 87px;
            margin: 0px auto auto auto;

        }
    }
    &.align-right {
        flex-direction: column-reverse;
        @media (min-width: 768px) {
            flex-direction: row-reverse;
        }
        .block-single-feature__text {
            width:100%;
            padding:0;
            margin-bottom:30px;
            @media (min-width: 768px) {
                padding: 0px 10px 40px 10px;
                width: 50%;
                padding-right:87px;
                margin: 0 auto auto auto;
            }
        }
    }
    &__header {
        font-size: rem-calc(36px);
        line-height: rem-calc(46px);
        font-weight:400;
        text-align:center;
        color:map-get($colors, matisse);
        margin-bottom:40px;
        @media (min-width: 768px) {
            text-align:left;
            font-size: rem-calc(36px);
            line-height: rem-calc(46px);
        }
        @media (min-width: 1088px) {
            font-size: rem-calc(48px);
            line-height: rem-calc(58px);
        }
        @media (min-width: 1360px) {
            font-size: rem-calc(53px);
            line-height: rem-calc(63px);  
        }
    }
    &__content {
        font-size:22px;
        line-height:34px;
        margin-top:0px;
    }
    &__buttons {
        text-align: center;
        @media (min-width: 768px) {
            text-align:left;
        }
        a {
            background:map-get($colors, jordy-blue);
            border-radius: 23px;
            font-size:rem-calc(20px);
            line-height:33px;
            font-weight:600;
            color: map-get($colors, blue-whale);
            padding:8px 62px 8px;
            display:inline-block;
            @media (min-width: 768px) {
                font-size:rem-calc(22px);
            }
            &:hover {
                background:map-get($colors, blue-whale);
                color: map-get($colors, jordy-blue);
                text-decoration: none;
            }
        }
    }
    &__informations {
        background: #D1EBFA;
        box-shadow: 0px 7px 11px #00000029;
        padding:50px 28px 36px 46px;
        @media (min-width: 768px) {
            max-width:391px;
            margin-top:rem-calc(100px);  
        }
        .information {
            display:flex;
            margin-bottom:14px;
            &__icon {
                color: #13648B;
                line-height:37px;
            }
            &__text {
                color: #13648B;
                font-size:22px;
                line-height:37px;
                font-weight:400;
                padding-left:40px;
            }
        }
    }
}