.block-features {
    display: block;
    padding: rem-calc(150px) 0 rem-calc(150px) 0;

    &__columns {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: rem-calc(20px);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__main-header {
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    &__column{
        //padding: rem-calc(16px);
        text-align: center;
        &-image {
            max-width: 300px;
            //height: 180px;
            margin: 0 auto;
            img {
                display:inline-block;
            }
        }
        &-header {
            font-weight: 600;
            padding-top: 1rem;
        }
        &-text {
            //width: 90%;
            margin: auto;
            font-size: rem-calc(20px);
            line-height: rem-calc(27px);
            font-weight: 100;
            font-family: 'Open sans', sans-serif;
        }
    }
    &.white {
        background-color: map-get($colors,white);
    }
    &.grey {
        background-color: map-get($colors,vanebo-grey-bg);
    }
}