.buttons{
    display: flex;
    .layout_1{
        padding:20px;
        border: 1px black solid;
        border-radius: 50px;
        background-color:white;
        color:black;
    }
    .layout_2{
        padding:20px;
        border: 1px black solid;
        border-radius: 30px;
        background-color:black;
        color:white;
    }

}