.block-call-to-action {
    position: relative;
    padding: 6rem 20px;
    @media (min-width: 768px) {
        padding: 10rem 20px;
    }
    &__title {
        color:map-get($colors, white);
        margin: 0 auto;
    }
    &__text {
        font-size: rem-calc(30px);
        line-height: rem-calc(42px);
        color:map-get($colors, vanebo-grey-bg);
        font-weight: 100;
        font-family: 'Open sans', sans-serif;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        @media (min-width: 768px) {
            width: 50%;
        }
    }
    &__buttons {
        padding-top: 2rem;
    }
}