.block-50-50 {
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height: 50vh;
  &-wrapper {
    max-width: 1300px;
    margin: auto;
    &.white {
      background-color: map-get($colors,white);
    }
    &.grey {
      background-color: map-get($colors,stall-horgen-bakgrunn);
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: map-get($colors,stall-horgen-bakgrunn);
        position: absolute;
        left: -100%;
        top: 0;
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: map-get($colors,stall-horgen-bakgrunn);
        position: absolute;
        right: -100%;
        top: 0;
      }
    }
  }
  &__title {
    font-size:rem-calc(40px);
    line-height:rem-calc(48px);
    padding-top: 2rem;
    @media (min-width: 768px) {
      padding-top: 0;
    }
  }
  &__image{
    width:100%;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (min-width: 768px) {
      width:50%;
    }
    img {
      border-radius: 20px 20px 20px 0px;
      object-fit: cover;
      width:rem-calc(336px);
      height:rem-calc(252px);
      @media (min-width: 768px) {
        width:rem-calc(389px);
        height:rem-calc(290px);
      }
      @media (min-width: 1280px) {
        width:rem-calc(601px);
        height:rem-calc(450px);
      }
    }
  }
  &__text-content{
    width:100%;
    padding-right: 1rem;
    padding-left: 1rem;
    @media (min-width: 768px) {
      width:50%;
      padding-right: 0;
      padding-left: 2rem;
    }
    @media (min-width: 1024px) {
      padding-right: 0;
      padding-left: 4rem;
    }
  }
  &__content {
    font-size:rem-calc(18px);
    line-height:rem-calc(25px);
    font-family: 'Open sans', sans-serif;
  }
  &__button {
    //...
    
  }
  &__icon {
    padding-bottom: 0.8rem;
    font-size:rem-calc(18px);
    line-height:rem-calc(25px);
    font-family: 'Open sans', sans-serif;
    i {
      margin-right: 0.5rem;
    }
  }

  &.left{
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .block-50-50__image{
      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 2rem;
      }
    }
    .block-50-50__text-content {
      @media (min-width: 768px) {
        padding-right: 0;
        padding-left: 2rem;
      }
    }
  }

  &.right{
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
    .block-50-50__image{
      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 2rem;
      }
      @media (min-width: 1024px) {
        padding-left: 0;
        padding-right: 2rem;
      }
    }
    .block-50-50__text-content {
      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 2rem;
      }
      @media (min-width: 1024px) {
        padding-left: 0;
        padding-right: 4rem;
      }
    }
  }
}