.block_map {
    max-width:1088px;
    margin:100px auto;
    padding:0 15px;
    @media (min-width: 768px) {
        padding:0;
    }
    
    &__header {
        font-size:45px;
        line-height: 56px;
        font-weight: 300;
        color:map-get($colors,matisse);
        margin-bottom:52px;
    }
    &__content {
        border: 1px solid #707070;
        position:relative;
        height:calc(100vh - 227px);
        margin-top:200px;
        @media (min-width: 768px) {
            margin-top:0;
            height:718px;
        }
    }
    &__points {
        position:absolute;
        width:100%;
        z-index:9;
        top:-137px;
        @media (min-width: 768px) {
            top:0;
            width:276px;
        }
        .point {
            font-weight: 300;
            background:map-get($colors,jordy-blue);
            padding: 10px;
            font-size: 14px;
            line-height: 16px;
            width: 50%;
            float:left;
            @media (min-width: 768px) {
                padding:25px;
                font-size:20px;
                line-height: 25px;
                width: auto;
                float:none;
            }
            &:nth-child(2) {
                background:map-get($colors,tropical-blue); 
            }
            &__city {
                font-weight:600;
                margin-bottom:10px;
            }
            button {
                font-weight:600; 
                margin-top:27px;
                &:hover {
                    text-decoration: underline;
                } 
            }
        }
    }
    #map {
        position:static !important;
        .gm-style {
            overflow:hidden;
        }
    }
}