.block_employees {
    padding:50px 0;
    @media (min-width: 768px) {
        padding:100px 0;  
    }
    &.be-bg-blue {
        background:map-get($colors,tropical-blue);  
    }
    &__row {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: 768px) {
            height:100vh; 
        }
        &__title {
            padding:0 15px;
            font-weight:300;
            font-size: 45px;
            line-height: 56px;
            margin:0 auto 37px;
            color:map-get($colors,matisse);
            width:100%;
            text-align: center;
            @media (min-width: 768px) {
                text-align: left;
            }
            @media (min-width: 825px) {
                max-width:825px;
                padding:0;
            }
        }
        &__description {
            padding:0 15px;
            font-weight:400;
            font-size: 22px;
            line-height: 34px;
            margin:0 auto 37px;
            color:black;
            width:100%;
            @media (min-width: 825px) {
                max-width:825px;
                padding:0;
            }
        }
        &__box {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            @media (min-width: 860px) {
                width:860px;
                margin:0 auto;
            }
            @media (min-width: 1088px) {
                width:100%;
                margin:0 auto;
            }
            @media (min-width: 1720px) {
                width:100%;
            }
            .employee {
                width:calc(100% - 60px);
                max-width: 370px;
                margin:30px;
                padding:0;
                @media (min-width: 860px) {
                    width:calc(50% - 60px);
                    max-width: 370px;
                }
                @media (min-width: 1290px) {
                    width:calc(25% - 60px);
                    max-width: 370px;
                }
                &__image {
                    margin-bottom:30px;
                }
                &__title {
                    font-weight: 600;
                    font-size: rem-calc(20px);
                    line-height: rem-calc(28px);
                    color:map-get($colors,black);
                    margin-bottom:11px;
                    @media (min-width:768px) {
                        font-size: 30px;
                        margin-bottom:16px;
                        min-height: 76px; 
                    }
                }
                &__education {
                    font-size: rem-calc(20px);
                    line-height: rem-calc(28px);
                    color:black;
                    margin-bottom:11px;
                    @media (min-width:768px) {
                        margin-bottom:16px;
                        font-size: rem-calc(22px);
                        line-height: rem-calc(34px); 
                    }
                    span {
                        display:block;
                        font-weight:200;
                    }
                }
                &__position {
                    font-weight:400;
                    font-size: rem-calc(20px);
                    line-height: rem-calc(28px);
                    color:black;
                    margin-bottom:11px;
                    @media (min-width:768px) {
                        margin-bottom:16px;
                        font-size: rem-calc(22px);
                        line-height: rem-calc(34px);  
                    }
                    span {
                        display:block;
                        font-weight:200;
                    }
                }
                &__email {
                    font-weight:400;
                    font-size: rem-calc(20px);
                    line-height: rem-calc(28px);
                    color:map-get($colors,blue-whale);
                    margin-bottom:11px;
                    @media (min-width:768px) {
                        margin-bottom:16px;
                        font-size: rem-calc(22px);
                        line-height: rem-calc(34px); 
                    }
                    word-break: break-word;
                    a {
                        color:map-get($colors,blue-whale); 
                    }
                    span {
                        display:block;
                        font-weight:200;
                        color:black;
                    }
                }
                &__phone {
                    font-weight:400;
                    font-size: rem-calc(20px);
                    line-height: rem-calc(28px);
                    color:map-get($colors,black);
                    margin-bottom:11px;
                    @media (min-width:768px) {
                        margin-bottom:16px;
                        font-size: rem-calc(22px);
                        line-height: rem-calc(34px);
                    }
                    a {
                        color:map-get($colors,black); 
                    }
                    span {
                        display:block;
                        font-weight:200;
                    }
                }
            }
        }  
    }
}