.block-partner-logos {
    padding: rem-calc(20px);

    &__carousel {
        display: flex;
        justify-content: space-between;
    }
    &__carousel_single_logo {
        padding: rem-calc(8px);
    }

}