.gform_legacy_markup_wrapper {
    margin:0 auto !important;
    background-image: url(../../front/img/circle.svg);
    background-position: calc(100% + 374px);
    background-repeat: no-repeat;
    padding:50px 0;
    @media (min-width: 768px) {
        padding:100px 0;
    }

    .gform_heading {
        max-width:1088px !important;
        margin:0 auto;
        color:map-get($colors,black);
        padding:0 15px;
        @media (min-width: 768px) {
            padding:0;
        }
        .gform_title {
            font-weight:300 !important;
            font-size: 45px;
            line-height: 56px;
            margin:0 auto 28px;
        }
    }
    form {
        max-width:1088px !important;
        margin:0 auto;
        padding:0 15px;
        @media (min-width: 768px) {
            padding:0;
        }
    }
    .gfield_required {
        color:map-get($colors,black) !important;
        margin-left:0 !important;
    }
    .ginput_container {
        margin-top:0 !important;
    }
    .gform_fields {
        li {
            margin:0 0 26px;
            .gfield_label {
                font-weight:600;
                font-size: 20px;
                line-height: 25px;
                color:#000;
                opacity: 0.58;
            }
            input[type="text"] {
                border: 1px solid #707070;
                max-width: 560px;
                font-weight:600;
                font-size: 20px !important;
                padding:10px;
                line-height: 50px;
            }
            input[type="submit"] {
                background:map-get($colors, jordy-blue);
                color: map-get($colors, blue-whale);
                border-radius: 23px;
                font-size:rem-calc(20px) !important;
                line-height:33px;
                font-weight:600;
                padding:12px 28px 6px;
                display:inline-block;
                margin:0 17px;
            }
            textarea {
                max-width:698px;
                border: 1px solid #707070;
                font-weight:600;
                font-size: 20px !important;
                padding:10px;
            }
        }
    }
    .gform_footer {
        margin:0 !important;
        padding:0 0 10px !important;
        input[type="submit"] {
            background:map-get($colors, jordy-blue);
            color: map-get($colors, blue-whale);
            border-radius: 23px;
            font-size:rem-calc(20px) !important;
            line-height:33px;
            font-weight:600;
            padding:12px 28px 6px;
            display:inline-block;
            margin:0 17px;
            &:hover {
                background:map-get($colors, blue-whale);
                color: map-get($colors, jordy-blue);
                text-decoration: none;
            }
            @media (min-width: 768px) {
                font-size:rem-calc(22px) !important;
            }
        } 
    }
}
.gform_confirmation_message {
    color: map-get($colors, blue-whale);
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 25px;
    border-top: 2px solid map-get($colors, blue-whale);
    border-bottom: 2px solid map-get($colors, blue-whale);
    padding: 16px 0 16px 0;
    clear: both;
    width: 100%;
    text-align: center;
}
#input_1_5_3_container label {
	display: none;
}