.bq-bg-blue {
    background:map-get($colors,tropical-blue);
}
.block-quote {
    display:flex;
    justify-content: center;
    max-width:1600px;
    margin:0 auto;
    flex-direction: column;
    padding:50px 0;
    @media (min-width: 768px) {
        flex-direction: row;
        padding:200px 0;
    }
    &__media {
        width: 100%;
        padding:0 15px;
        @media (min-width: 768px) {
            width: 50%;
            padding:0;
        }
    }
    &__text {
        width:100%;
        padding:0 15px;
        display:flex;
        flex-flow: column;
        justify-content: center;
        @media (min-width: 768px) {
            width: 50%;
            padding-left:87px;
            padding-right:0;
        }
    }
    &.align-right {
        flex-direction: row-reverse;
        .block-quote__text {
            width: 100px;
            padding:0 15px;
            @media (min-width: 768px) {
                width: 50%;
                padding-right:87px;
                padding-left:0;
            }
        }
    }
    &__header {
        font-size:rem-calc(20px);
        line-height:rem-calc(32px);
        font-weight:700;
        font-style: italic;
        margin-bottom:40px;
        margin-top:40px;
        color:map-get($colors, matisse);
        text-align: center;
        @media (min-width: 768px) {
            text-align:left;
            margin-top:0;
            font-weight:200;
            font-size: rem-calc(42px);
            line-height: rem-calc(56px);
        }
    }
    &__content {
        font-size:rem-calc(20px);
        line-height:rem-calc(32px);
        text-align: center;
        @media (min-width: 768px) {
            text-align:left;
            font-size:22px;
            line-height:34px;
        }
    }
}