.block-news {
  background-color: map-get($colors, vanebo-grey-bg);
  padding: 3rem 0;
  @media (min-width: 768px) {
    padding: 6rem 0;
  }
  &__container {
    margin: auto;
    max-width: 1200px;  
  }
  &__title {
    color: map-get($colors, vanebo-blue);
    font-weight: 500;
    text-align: center;
    font-family: var(--heading--font-family);
    padding-bottom: rem-calc(46px);
    h2 {
      color: map-get($colors, vanebo-blue);
    }
  }

  // SCSS Code for the block Latest news blog
  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: none;
    grid-gap: rem-calc(46px);
    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    }
  }
  &__single {
    position: inherit;
    word-break: break-word;
    background: map-get($colors, white);
    font-family: 'Open sans', sans-serif;
    &--image {
      position: inherit;
    }
    &--header {
      padding: rem-calc(32px) rem-calc(46px);
    }
    &--date {
      font-size: rem-calc(16px);
      line-height: rem-calc(22px);
      font-weight: 100;
      color: map-get($colors, black);
    }
    &--title {
      text-align: left;
      font-weight: 600;
      font-size: rem-calc(25px);
      color: map-get($colors, black);
      padding: 0.5rem 0;
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-position: under;
        text-decoration-color: map-get($colors, black);
      }
    }
    &--excerpt {
      font-size: rem-calc(20px);
      font-weight: 400;
      color: map-get($colors, black);
    }
  }

  .block-all-news-button {
    margin-top: 3.5em;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    a {
      padding: 1rem 1rem 1rem 1rem;
      line-height: 1.25rem;
      font-size: rem-calc(25px);
      color: map-get($colors, vanebo-blue);
      position: relative;
      -webkit-transition: padding 0.5s;
      -o-transition: padding 0.5s;
      transition: padding 0.5s;
      &:after {
        content: '';
        background: url(http://localhost:81/wp-content/uploads/2021/11/Icon-ionic-ios-arrow-forward.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        right: -20px;
        margin-left:0;
        z-index:6;
        position: absolute;
      }
      &:hover {
        padding: 1rem 2rem 1rem 1rem;
      }
    }
  }
}

// SCSS Code for Block for all news
.block-all-news-title {
  margin-top: 5em;
  margin-bottom: -0.75em;
  font-size: 2rem;
  font-weight: 100;
  color: map-get($colors, vanebo-blue);
}
.block-all-news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 3em;
  margin-bottom: 2.5em;

  > * {
    flex-grow: 1;
  }

  .block-all-news-container__article {
    flex-basis: 48.5%;
    padding: 1em 2em 2em 1.5em;
    background: white;

    @media (max-width: 50em) {
      flex-grow: 1;
      flex-basis: 100%;
      margin-top: 1em;
    }

    .block-all-news-container__header {
      .block-all-news-container__date {
        margin-bottom: 0.25em;
        font-size: 1.25rem;
        font-weight: 100;
        color: map-get($colors, vanebo-blue);
      }

      .block-all-news-container__title {
        width: 85%;
        font-size: 2rem;
        font-weight: 100;
        color: map-get($colors, vanebo-blue);
      }
    }
  }
}