.block_project {
    position: relative;
    &__row {
        min-height:60vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:50px 0;
        @media (min-width: 768px) {
            padding:100px 0;   
        }
        &__title {
            padding:0 15px;
            //font-weight:300;
            margin:0 auto 37px;
            //color:map-get($colors,vanebo-blue);
            width:100%;
            text-align: center;
            //font-size:rem-calc(40px);
            //line-height: rem-calc(50px);
            @media (min-width: 768px) {
                //font-size:rem-calc(45px);
                //line-height: rem-calc(56px);
            }
            @media (min-width: 1200px) {
                max-width:1200px;
            }
        }
        &__box {
            display:flex;
            justify-content: center;
            align-items: stretch;
            width: 100%;
            flex-wrap: wrap;
            padding:0 15px;
            @media (min-width: 768px) {
                padding:0;
                max-width: 1200px;
            }
            @media (min-width: 1200px) {
                max-width:1400px;
            }
            .single-project {
                width:100%;
                max-width: 496px;
                margin:30px;
                min-height: 280px;
                background: map-get($colors,white);
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: 'Open sans', sans-serif;
                @media (min-width: 768px) {
                    max-width: calc(33% - 30px);
                    margin:30px 15px;
                } 

                &__title-wrapper {
                    padding: 2rem;
                }
                &__title {
                    font-weight:600;
                    font-size: rem-calc(20px);
                    line-height: rem-calc(28px);
                    color:map-get($colors,vanebo-blue);
                    margin-bottom:19px;
                    @media (min-width: 768px) {
                        font-size: rem-calc(25px);
                        line-height: rem-calc(34px);
                    }
                }
                &__subtitle {
                    font-weight:300;
                    font-size:18px;
                    line-height: 24px;
                    color:map-get($colors,vanebo-blue);
                    margin-bottom:27px;
                    @media (min-width: 768px) {
                        font-size: rem-calc(22px);
                        line-height: rem-calc(28px);
                    }
                }
                &__button {
                    text-align: left;

                    a {
                        background:map-get($colors, white);
                        color: map-get($colors, vanebo-blue);
                        font-weight:600;
                        display:inline-block;
                        margin:0 0 0;
                        font-size:18px;
                        line-height: 24px;
                        margin-bottom:27px;
                        @media (min-width: 768px) {
                            font-size: rem-calc(22px);
                            line-height: rem-calc(28px);
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                        @media (min-width: 768px) {
                            font-size:rem-calc(22px);
                        }
                    }
                }
            }
        }  
    }
    &.white {
        background-color: map-get($colors,white);
    }
    &.grey {
        background-color: map-get($colors,vanebo-grey-bg);
    }
}