.block_slider {
    max-width: 1418px;
    padding: 0 45px;
    margin:100px auto;
    .glide__slide {
        .title {
            font-size:26px;
            line-height:33px;
            font-weight: 600;
            margin:20px 0;
            text-align: center;
        }
        .subtitle {
            font-size:26px;
            line-height:33px;
            font-weight: 600;
            margin:20px 0;
            text-align: center;  
        }
    }
    .glide__arrow {
        color:map-get($colors, matisse);
        font-size:rem-calc(40);
        padding:0;
        background: none;
        border:0;
        box-shadow: none;
        &:hover{
            color:map-get($colors,jordy-blue);
          }
        &--left {
            left:-45px;
        }
        &--right {
            right:-45px;
        }
    }
}