.block-single-blog-post {

    
    display:flex;
    justify-content: center;

    &__wrapper {

        max-width: 70%;
        display: flex;
        flex-direction: column;
        padding: rem-calc(40px);
        min-height: rem-calc(200px);
    }

    &__title {
        display: flex;
        font-size: rem-calc(40px);
        font-weight: bold;
        justify-content: center;
        padding-bottom: rem-calc(20px);

    }

    &__image {

        display:flex;
        justify-content: center;
    }

    &__content {
        
        display:flex;
        justify-content: center;
        font-size: rem-calc(20px);
        padding-top: rem-calc(30px);

        p {

            width: 60%;
            justify-items: center;
        }
    }

    &__media {

        ul {

            display: flex;
            justify-content: center;
            flex-direction: row;

            li {
                padding: 5px;
        
                & a {
                    text-decoration: unset;
                    color: black;
                }
            }
        }
    }
        
}