
.accordion {
  background-color: #EEE;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
  border: none;
}


/*.active, .accordion:hover,
button:focus {
  background: #CCC;
  border: none;
}*/


.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

}
/*
.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}*/