.block-text-box {
    .content {
        padding: 5rem 2rem;
        max-width: 950px;
        margin: auto;

        p {
            font-size: rem-calc(20px);
            line-height: rem-calc(30px);
            font-family: 'Open Sans', sans-serif;
        }
    }
}