.block-text {
  min-height:auto;
  padding:50px 0;
  display:flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    min-height:100vh;
    padding:100px 0;
  }
  &.layout1 {
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    padding:0;
    min-height: 100vh;
    height: auto;
    position: relative;
    &:after {
      content: ' ';
      display: inline-block;
      height: 100%;
      width: 100%;
      background: var( --vanebo-stall-horgen) 0% 0% no-repeat padding-box;
      background: #BA5A31 0% 0% no-repeat padding-box;
      opacity: 0.65;
      left: 0;
      right: 0;
      margin-left: 0;
      z-index: 6;
      position: absolute;
    }
    .block-text__row {
      position:relative;
      width:100%;
      margin:0 auto;
      background-color: map-get($colors,stall-horgen-bakgrunn);
      min-height: 60vh;
      .content {
        position:relative;
        z-index:7;
        font-size:22px;
        line-height:rem-calc(34px);
        font-weight:400;
        max-width:1300px;
        padding-left:15px;
        padding-right:15px;
        color:#000;
        @media (min-width: 768px) {
          //width:50%;
          padding-left:0;
          padding-right:0;
          //margin-right:calc(50% - 30px);
        }
        @media (min-width: 1300px) {
          width:1300px;
          padding-left:0;
          //padding-right:40%;
          margin-right:auto;
          margin-left:auto;
        }
        p {
          max-width: 100%;
          @media (min-width: 1024px) {
            max-width: 60%;
          }
        }
      }
      .title {
        min-width:100%;
        font-weight: 600;
        margin-top:53px;
        position:relative;
        font-size:rem-calc(34px);
        line-height: rem-calc(42px);
        z-index:7;
        text-align:center;
        width: fit-content;
        font-family: 'Open sans', sans-serif;
        color:map-get($colors,vanebo-blue);
        @media (min-width: 768px) {
          //width:50%;
          padding-left:0;
          padding-right:0;
          text-align:left;
          //margin-right:calc(50% - 30px);
          margin-left: 0;
          font-size:rem-calc(40px);
          line-height: rem-calc(50px);
        }
        @media (min-width: 1300px) {
          width: 1300px;
          padding-left: 0;
          margin-right: auto;
          margin-left: auto;
          letter-spacing: 1.8px;
        }
      }

      .button {
        position:relative;
        z-index:7;
        max-width:1300px;
        padding-left:15px;
        padding-right:15px;
        margin:30px auto 30px;
        text-align: center;
        @media (min-width: 768px) {
          //width:50%;
          padding-left:0;
          padding-right:50%;
          text-align: left;
        }
        @media (min-width: 1300px) {
          width:1300px;
          //padding-left:50px;
          padding-right:700px;
        }
      }
    }
  }
  &.layout2 {
    background:map-get($colors,tropical-blue);
    .title {
      text-align:center;
    }
    .button {
      a {
        background:map-get($colors, orange);
        color:map-get($colors,white);
        &:hover {
          background:map-get($colors, white);
          color: map-get($colors, carnation);
          text-decoration: none;
        }
      }
    }
  }
  &.layout3 {
    //...
  }
  &.layout4 {
    background-position: center;
    background-size: cover;
    position:relative;
    &:after {
      content:' ';
      display: inline-block;
      height: 85%;
      width: 100%;
      background: var(--vanebo-162c46-vanebo-blaa) 0% 0% no-repeat padding-box;
      background: #162C46 0% 0% no-repeat padding-box;
      border-radius: 20px 20px 20px 0px;
      opacity: 0.85;
      left: 0;
      margin-left:0;
      z-index:6;
      position: absolute;
      @media (min-width: 768px) {
        width: 50%;
        height: 80%;
        margin-left: -50%;
        left: 50%;
      }
      @media (min-width: 1024px) {
        height: 75%;
      }
      @media (min-width: 1448px) {
        width: 724px;
        margin-left: -724px;
      }
    }
    .block-text__row {
      padding-right:0;
      @media (min-width: 768px) {
        padding-right:50%;
      }
      @media (min-width: 1448px) {
        padding-right:0;
      }
      .title, .content, .button {
        width:100%;
        padding-left:15px;
        padding-right:15px;
        font-weight: 400;
        @media (min-width: 768px) {
          width:80%;
          padding-left:0;
          padding-right:0;
        }
        @media (min-width: 1448px) {
          width:1448px;
          padding-left:100px;
          padding-right:calc(50% + 70px);
        }
      }
      .content {
        font-size:rem-calc(18px);
        line-height:rem-calc(22px);
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
        @media (min-width: 768px) {
          font-size:rem-calc(20px);
          line-height:rem-calc(26px);
        }
        @media (min-width: 1025px) {
          font-size:rem-calc(24px);
          line-height:rem-calc(30px);
        }
      }
      .button {
        a {
          background:map-get($colors, vanebo-orange);
          color: map-get($colors, vanebo-blue);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.layout5 {
    background-position: center;
    background-size: cover;
    position:relative;
    &:after {
      content:' ';
      display: inline-block;
      height: 85%;
      width: 100%;
      background: var( --vanebo-stall-horgen) 0% 0% no-repeat padding-box;
      background: #BA5A31 0% 0% no-repeat padding-box;
      border-radius: 20px 20px 20px 0px;
      opacity: 0.85;
      left: 0;
      margin-left:0;
      z-index:6;
      position: absolute;
      @media (min-width: 768px) {
        width: 50%;
        height: 80%;
        margin-left: -50%;
        left: 50%;
      }
      @media (min-width: 1024px) {
        height: 75%;
      }
      @media (min-width: 1448px) {
        width: 724px;
        margin-left: -724px;
      }
    }
    .block-text__row {
      padding-right:0;
      @media (min-width: 768px) {
        padding-right:50%;
      }
      @media (min-width: 1448px) {
        padding-right:0;
      }
      .title, .content, .button {
        width:100%;
        padding-left:15px;
        padding-right:15px;
        font-weight: 400;
        @media (min-width: 768px) {
          width:80%;
          padding-left:0;
          padding-right:0;
        }
        @media (min-width: 1448px) {
          width:1448px;
          padding-left:100px;
          padding-right:calc(50% + 70px);
        }
      }
      .content {
        font-size:rem-calc(18px);
        line-height:rem-calc(22px);
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
        @media (min-width: 768px) {
          font-size:rem-calc(20px);
          line-height:rem-calc(26px);
        }
        @media (min-width: 1025px) {
          font-size:rem-calc(24px);
          line-height:rem-calc(30px);
        }
      }
      .button {
        a {
          background:map-get($colors, vanebo-orange);
          color: map-get($colors, vanebo-blue);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.layout6 {
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    padding:0;
    min-height: 100vh;
    height: auto;
    position: relative;
    &:after {
      content: ' ';
      display: inline-block;
      height: 100%;
      width: 100%;
      background: var(--vanebo-162c46-vanebo-blaa) 0% 0% no-repeat padding-box;
      background: #162C46 0% 0% no-repeat padding-box;
      opacity: 0.65;
      left: 0;
      right: 0;
      margin-left: 0;
      z-index: 6;
      position: absolute;
    }
    .block-text__row {
      position:relative;
      width:100%;
      margin:0 auto;
      background-color: map-get($colors,vanebo-grey-bg);
      min-height: 50vh;
      .content {
        position:relative;
        z-index:7;
        font-size:22px;
        line-height:rem-calc(34px);
        font-weight:400;
        max-width:1300px;
        padding-left:15px;
        padding-right:15px;
        color:#000;
        @media (min-width: 768px) {
          //width:50%;
          padding-left:0;
          padding-right:0;
          //margin-right:calc(50% - 30px);
        }
        @media (min-width: 1300px) {
          width:1300px;
          padding-left:0;
          //padding-right:40%;
          margin-right:auto;
          margin-left:auto;
        }
        p {
          max-width: 100%;
          font-size:rem-calc(16px);
          line-height:rem-calc(28px);
          @media (min-width: 1024px) {
            max-width: 60%;
            font-size:rem-calc(22px);
            line-height:rem-calc(34px);
          }
        }
      }
      .title {
        font-weight: 600;
        margin-top:53px;
        position:relative;
        font-size:rem-calc(40px);
        line-height: rem-calc(50px);
        z-index:7;
        text-align:center;
        width: fit-content;
        color:map-get($colors,vanebo-blue);
        @media (min-width: 768px) {
          //width:50%;
          padding-left:0;
          padding-right:0;
          text-align:left;
          //margin-right:calc(50% - 30px);
          margin-left: 0;
          font-size:rem-calc(50px);
          line-height: rem-calc(63px);
        }
        @media (min-width: 1300px) {
          width: 1300px;
          padding-left: 0;
          margin-right: auto;
          margin-left: auto;
          font-size:rem-calc(60px);
          line-height: rem-calc(63px);
          letter-spacing: 1.8px;
        }
        
        &:after {
          content:' ';
          display: inline-block;
          height:2px;
          width:50%;
          background:map-get($colors, vanebo-orange);
          opacity:0.89;
          z-index:6;
          position: absolute;
          bottom:0;
          left:0;
        }
      }

      .button {
        position:relative;
        z-index:7;
        max-width:1300px;
        padding-left:15px;
        padding-right:15px;
        margin:30px auto 30px;
        text-align: center;
        @media (min-width: 768px) {
          //width:50%;
          padding-left:0;
          padding-right:50%;
          text-align: left;
        }
        @media (min-width: 1300px) {
          width:1300px;
          //padding-left:50px;
          padding-right:700px;
        }
      }
    }
  }
  &__row {
    z-index:7;
    padding: 0 20px;
    @media (min-width: 768px) {
      padding: 0 50px;
    }
  }
  .title {
    font-size:rem-calc(28);
    line-height: rem-calc(34);
    font-weight: 600;
    color:map-get($colors,white);
    margin:0 auto 27px;
    text-align:left;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(32px);
      line-height: rem-calc(38px);
    }
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(40px);
      line-height: rem-calc(46px);
    }
    @include media-breakpoint-up(xl) {
      font-size: rem-calc(48px);
      line-height: rem-calc(54px);
    }
  }
  .content {
    font-size:rem-calc(25);
    line-height: 31px;
    font-weight: 300;
    margin:0 auto 36px;
    color:map-get($colors,white);
    font-family: 'Open sans', sans-serif;
  }
  .very-small {
    width:494px;
  }
  .small {
    width:100%;
    padding:0 15px;
    @media (min-width: 724px) {
      width:724px;
      padding:0;
    }
  }
  .medium {
    width:100%;
    padding:0 15px;
    @media (min-width: 1088px) {
      width:1088px;
      padding:0;
    }
  }
  .large {
    width:100%;
    padding:0 15px;
    @media (min-width: 1524px) {
      width:1524px;
      padding:0;
    }
  }
  &__back {
    max-width: 1300px;
    display: block;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: map-get($colors, black);
    font-family: 'Open sans', sans-serif;

  }
}