@-ms-viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-family-base;
    min-height: 100vh;                    // editor issues
    -webkit-font-smoothing: antialiased; 
    overflow-x: hidden;                   // breaks editor toolbar

    main {
        flex: auto;
    }
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

address {
    font-style: normal;
}

form {
    margin: 0;
}

input,
textarea,
select {
    //font-family: "LFT Etica", "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

/* Remove default browser styling - x from input with type search */
/* clears the ‘X’ from IE */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

a {
    text-decoration: none;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
}

ul {
    list-style-type: none;
    margin-bottom: 0;

    li {
        margin-bottom: 0;
    }
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.is-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.no-scroll {
    overflow-y: hidden;
}

.grecaptcha-badge {
    display: none !important;
}

main#main-content {
    margin-top: 69px;
}
.logged-in main#main-content {
    margin-top: 30px;
}