button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.btn {
  display: inline-flex;
  font-size: rem-calc(18px);
  font-weight: 300;
  border-radius: rem-calc(32px);
  padding: rem-calc(12px 34px);
  align-items: center;
  justify-content: center;
}

.button {
  margin:0 auto;
  &.center {
    text-align: center;
  }
  &.right {
    text-align: center;
    @media (min-width: 768px) {
      text-align: right;
    }
  }
  &.left {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &.orange {
    a {
      background:map-get($colors, vanebo-orange);
      color: map-get($colors, vanebo-blue);
    }
  }
  &.blue {
    a {
      background:map-get($colors, vanebo-blue);
      color: map-get($colors, white);
      &:hover {
        text-decoration: underline;
        color: map-get($colors, white);
      }
    }
  }
  &.red {
    a {
      background:map-get($colors, stall-horgen);
      color: map-get($colors, white);
      font-family: 'Open sans', sans-serif;
      text-transform: none!important;
      &:hover {
        text-decoration: underline;
        color: map-get($colors, white);
      }
    }
  }
  a {
    
    border-radius: 20px 20px 20px 0px;
    font-size:rem-calc(20px);
    line-height: rem-calc(32px);
    font-weight:600;
    padding:15px 32px;
    display:inline-block;
    margin: 20px 0;
    text-transform: uppercase;
    @media (min-width: 768px) {
      padding:8px 32px 8px;
      font-size:rem-calc(22px);
    }
    &:hover {
      color: map-get($colors, vanebo-blue);
      text-decoration: underline;
    }
  }
}