/** Fields css reset **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance:textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  appearance: none;       /* Remove default arrow */
}

input {
  border: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input, select, textarea { 
  font-family: $font-family-form;
}
/*input, select, textarea {
  display: flex;
  width: 100%;
  background: transparent;
  padding: rem-calc(18px 12px);
  font-size: rem-calc(16px);
}*/

/* CUSTOM CODE */
.gform_wrapper {
  max-width: 1300px;
  margin: 5rem auto;
  padding: 0 1rem;
  .gform_heading {
    //...
    .gform_title {
      font-family:  'Teko', 'Open Sans', sans-serif;
    }
    .gform_description {
      width: 100%;
      @media (min-width: 1024px) {
        width: 50%;
      }
    }
  }
  &.gravity-theme {
    .gform_footer {
      input {          
        border-radius: 20px 20px 20px 0px;
        font-size:rem-calc(20px);
        line-height: rem-calc(32px);
        font-weight:600;
        padding:15px 32px;
        display:inline-block;
        margin: 20px 0;
        text-transform: uppercase;
        background:map-get($colors, vanebo-blue);
        color: map-get($colors, white);
        @media (min-width: 768px) {
          padding:10px 64px 10px;
          font-size:rem-calc(22px);
        }
        &:hover {
          color: map-get($colors, white);
          text-decoration: underline;
        }
      }
    }
    .gform_fields .gfield {
      .gfield_label{
        font-size:rem-calc(17px);
      }
      input, select, textarea { 
        font-size:rem-calc(17px);
      }
    }
  }
  #field_1_2, #field_1_3 {
    padding-bottom: 2.5rem;
  }
}
body #gform_wrapper_1 div.ginput_complex.ginput_container.ginput_container_name, 
body #gform_wrapper_1 div.ginput_complex.ginput_container, 
body #gform_wrapper_1 .gfield .ginput_container.ginput_container_list, 
body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=email],
body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=tel] {
  width: 100%!important;
}
.gform_confirmation_message {
  margin-top: 100px;
  margin-bottom: 100px;
}