// Headers

h1, .h1, h2, .h2 {
  font-weight: 700;
}

h1, .h1 {
  font-size: rem-calc(40px);

  @include media-breakpoint-up(md) {
    font-size: rem-calc(50px);
  }

  @include media-breakpoint-up(lg) {
    font-size: rem-calc(60px);
  }
}

h2, .h2 {
  font-size: rem-calc(34px);

  @include media-breakpoint-up(md) {
    font-size: rem-calc(42px);
  }
  @include media-breakpoint-up(lg) {
    font-size: rem-calc(50px);
  }
}