// ############## Custom ############## //

// Fonts
$rem-base: 16px;

// Paths
$font-path: '../fonts' !default;
$img-path: '../../images' !default;

// Colors
// For name of colors use: http://chir.ag/projects/name-that-color/
$colors: (
  black: #292929,
  white: #FFF,
  vanebo-blue: #162C46,
  vanebo-orange: #EFA554,
  stall-horgen-bakgrunn: #EFEAEA,
  stall-horgen: #BA5A31,
  vanebo-grey-bg: #F2F2F2,
  vanebo-dawn-pink: #F2ECE1,
);

$icomoon-font-path: $font-path;

$font-family-base: 'Teko', 'Open Sans', sans-serif;
$font-family-form: 'Open Sans', sans-serif;

:root {

  /* Colors: */
  --vanebo-stall-horgen-bakgrunn: #EFEAEA;
  --vanebo-stall-horgen: #BA5A31;
  --vanebo-162c46-vanebo-blaa: #162C46;
  --vanebo-color-efa554: #EFA554;
  --vanebo-292929-sort: #292929;
  --vanebo-color-f2f2f2: #F2F2F2;
  --vanebo-color-000000: #000000;
  --vanebo-color-f2ece1: #F2ECE1;
  
  /* Font/text values */
  --vanebo-font-family-teko: Teko;
  --vanebo-font-family-open-sans: Open Sans;
  --vanebo-font-style-normal: normal;
  --vanebo-font-weight-600: 600px;
  --vanebo-font-weight-normal: normal;
  --vanebo-font-size-20: 20px;
  --vanebo-font-size-25: 25px;
  --vanebo-font-size-30: 30px;
  --vanebo-font-size-40: 40px;
  --vanebo-font-size-60: 60px;
  --vanebo-character-spacing-0: 0px;
  --vanebo-character-spacing-0-75: 0.75px;
  --vanebo-character-spacing-0-9: 0.9px;
  --vanebo-character-spacing-1-6: 1.6px;
  --vanebo-character-spacing-1-8: 1.8px;
  --vanebo-line-spacing-27: 27px;
  --vanebo-line-spacing-34: 34px;
  --vanebo-line-spacing-36: 36px;
  --vanebo-line-spacing-52: 52px;
  --vanebo-line-spacing-62: 62px;
  }
  
  /* Character Styles */
  .ingress {
  font-family: var(--vanebo-font-family-open-sans);
  font-style: var(--vanebo-font-style-normal);
  font-weight: var(--vanebo-font-weight-normal);
  font-size: var(--vanebo-font-size-25);
  line-height: var(--vanebo-line-spacing-34);
  letter-spacing: var(--vanebo-character-spacing-0);
  color: var(--vanebo-292929-sort);
  }
  .brødtekst {
  font-family: var(--vanebo-font-family-open-sans);
  font-style: var(--vanebo-font-style-normal);
  font-weight: var(--vanebo-font-weight-normal);
  font-size: var(--vanebo-font-size-20);
  line-height: var(--vanebo-line-spacing-27);
  letter-spacing: var(--vanebo-character-spacing-0);
  color: var(--vanebo-292929-sort);
  }
  .h3-overskrift {
  font-family: var(--vanebo-font-family-teko);
  font-style: var(--vanebo-font-style-normal);
  font-weight: var(--vanebo-font-weight-600);
  font-size: var(--vanebo-font-size-30);
  line-height: var(--vanebo-line-spacing-62);
  letter-spacing: var(--vanebo-character-spacing-0-9);
  color: var(--vanebo-color-000000);
  }
  .h2-underoverskrift {
  font-family: var(--vanebo-font-family-teko);
  font-style: var(--vanebo-font-style-normal);
  font-weight: var(--vanebo-font-weight-600);
  font-size: var(--vanebo-font-size-40);
  line-height: var(--vanebo-line-spacing-52);
  letter-spacing: var(--vanebo-character-spacing-1-6);
  color: var(--vanebo-292929-sort);
  }
  .h1-overskrift {
  font-family: var(--vanebo-font-family-teko);
  font-style: var(--vanebo-font-style-normal);
  font-weight: var(--vanebo-font-weight-600);
  font-size: var(--vanebo-font-size-60);
  line-height: var(--vanebo-line-spacing-52);
  letter-spacing: var(--vanebo-character-spacing-1-8);
  color: var(--vanebo-color-000000);
  }
  .knapp {
  font-family: var(--vanebo-font-family-teko);
  font-style: var(--vanebo-font-style-normal);
  font-weight: var(--vanebo-font-weight-600);
  font-size: var(--vanebo-font-size-25);
  line-height: var(--vanebo-line-spacing-36);
  letter-spacing: var(--vanebo-character-spacing-0-75);
  color: var(--vanebo-color-f2ece1);
  }

  .dark_blue {
    background-color:map-get($colors, vanebo-blue);
  }