$font-path: '../../front/fonts';

@import "../../front/scss/vars";

.acf-block-preview {
  @import "../../front/scss/vendors/icons";
}

#adminmenu li.wp-menu-separator {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}