.single-article {
    max-width: 1024px;
    margin: auto;
    padding: 5rem 1rem 0 1rem;
    &__image {
        //..
    }
    &__date {
        font-size: rem-calc(20px);
        font-family: 'Open Sans', sans-serif;
        padding-top: 2rem;
        @media (min-width: 768px) {
            padding-top: 3rem;
        }
    }
    &__title {
        font-size: rem-calc(40px);
        font-family: 'Open Sans', sans-serif;
        padding: 1rem 0;
        letter-spacing: 1.2px;
        line-height: rem-calc(52px);
    }
    &__content {
        font-size: rem-calc(24px);
        font-family: 'Open Sans', sans-serif;
    }
    .block-news {
        position: relative;
        &:after {
            content:' ';
            display: inline-block;
            height: 100%;
            width: 100%;
            background: map-get($colors, vanebo-grey-bg);
            left: 0;
            top: 0;
            z-index:6;
            position: absolute;
            @media (min-width: 768px) {
                width: 50%;
                margin-left: -50%;
            }
        }
        &:before {
            content:' ';
            display: inline-block;
            height: 100%;
            width: 100%;
            background: map-get($colors, vanebo-grey-bg);
            right: 0;
            top: 0;
            z-index:6;
            position: absolute;
            @media (min-width: 768px) {
                width: 50%;
                margin-right: -50%;
            }
        }
    }
}