.single-project {
    max-width: 1248px;
    margin: auto;
    padding: 5rem 1rem 0 1rem;
    &__back {
        font-family: 'Open Sans', sans-serif;
        font-size: rem-calc(20px);
        color: map-get($colors, black);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &__content {
        padding-bottom: rem-calc(48px);
        @media (min-width: 768px) {
            display: flex;
            padding-bottom: 5rem;
        }
        &-left {
            width: 100%;
            @media (min-width: 768px) {
                width: 50%;
                padding-right: 2rem;
                padding-bottom: 2rem;
            }
        }
        &-right {
            width: 100%;
            @media (min-width: 768px) {
                width: 50%;
                padding-left: 2rem;
            }
        }
    }
    &__title {
        color: map-get($colors, vanebo-blue);
    }
    &__image {
        img {
            border-radius: 50px 50px 50px 0px;
        }
    }
    &__subtitle {
        font-family: 'Open Sans', sans-serif;
        padding-bottom: rem-calc(48px);
    }
    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: none;
        grid-gap: rem-calc(48px);
        padding-bottom: rem-calc(48px);
        @media (min-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
            padding-bottom: rem-calc(80px);
        }
        &-single-item {

            img {
                border-radius: 50px 50px 50px 0px;
                min-height: 350px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                @media (min-width: 768px) {
                    min-height: 265px;
                }
            }
        }
    }
}

.projects {
    background-color: map-get($colors, vanebo-grey-bg);
}
/* Project Archive */
.post-type-archive-projects {
    .archive__header {
        display: none;
    }
    .block-text.layout6 {
        min-height: 80vh;
        .block-text__row {
            min-height: 40vh;
        }
        .content {
            p {
                //max-width: 100%;
                @media (min-width: 768px) {
                    max-width: 50%;
                }
            }
        }
    }
}

.projects__grid {
    padding: 2rem 35px;
    @media (min-width: 768px) {
        padding: 3rem 50px;
    }
    &--wrapper {
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: none;
        grid-gap: rem-calc(32px);
        @media (min-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        &-single {
            position: inherit;
            word-break: break-word;
            background: map-get($colors, white);
            font-family: 'Open sans', sans-serif;
            div {
                img {
                    width: 100%;
                }
                &:first-child {
                    //...
                }
                &:nth-child(2) {
                    text-align: left;
                    font-weight: 600;
                    font-size: rem-calc(25px);
                    color: map-get($colors, black);
                    padding-top: 1rem;
                    &:hover {
                        text-decoration: underline;
                        text-decoration-thickness: 2px;
                        text-underline-position: under;
                        text-decoration-color: map-get($colors, black);
                    }
                }
                &:not(:first-child) {
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                }
                &:last-child {
                    padding-bottom: 2rem;
                }

            }
        }
    }
}
    