.site-footer {
    //padding: rem-calc(30px);
    min-height: rem-calc(200px);
    background-color: map-get($colors, vanebo-grey-bg);
    padding-top: 0;
    padding-bottom: 4rem;
    &__row {
        width:100%;
        margin: 0 auto 18px;
        padding: rem-calc(30px);
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 768px) {
            grid-template-columns: 3fr 1fr;
            max-width: 1200px
        }
        @media (min-width: 1400px) {
            max-width: 1600px;
        }
        &--contact {
            padding-bottom: 20px;

        }
        &--nav {
            padding-left: 15px;
            padding-bottom: 20px;
            .site-footer__nav {
                .nav {
                    justify-content: center;
                    flex-direction: column;
                    @media (min-width: 1088px) {
                        justify-content: flex-start;
                    }
                    .menu-item {
                        .nav-link {
                            color:map-get($colors, vanebo-blue);
                            font-size: rem-calc(20px);
                            line-height: rem-calc(24px);
                            font-weight: 400;
                            padding-left: 0;
                            padding-top: 0;
                            padding-bottom: 10px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            h4 {
                font-weight: 600;
                color:map-get($colors, vanebo-blue);
            }
        }
        &--logos {
            padding-left: 15px;
            padding-bottom: 20px;
            &-wrapper{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
                @media (min-width: 768px) {
                    width: 80%;
                }
                @media (min-width: 1024px) {
                    width: 70%;
                }
            }
        }
        &--stall-horgen {
            position: inherit;
        }
        h4 {
            font-weight: 600;
            color:map-get($colors, vanebo-blue);
        }
        a {
            font-weight: normal;
            font-size: rem-calc(20px);
            color:map-get($colors, vanebo-blue);
            font-family: 'Open sans', sans-serif;
        }

        &--left {
            border-top: 10px solid #162C46;
            padding-top: 2rem;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            position: relative;
            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 0;
            }
            &::before {
                content: ' ';
                display: inline-block;
                height: 10px;
                width: 0;
                background: #162C46;
                z-index: 6;
                position: absolute;
                right: 0;
                top: -10px;
                @media (min-width: 768px) {
                    width: 1000%;
                }
            }
        }
        &--right {
            border-top: 10px solid #BA5A31;
            padding-top: 2rem;
            position: relative;
            &::after {
                content: ' ';
                display: inline-block;
                height: 10px;
                width: 0;
                background: #BA5A31;
                z-index: 6;
                position: absolute;
                left: 0;
                top: -10px;
                @media (min-width: 768px) {
                    width: 1000%;
                }
            }
        }
    }
}