.site-header {
    width: 100%;
    //height: 99px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: map-get($colors, vanebo-blue);
    z-index: 9999;
    transition: .3s all ease;
  
    @include media-breakpoint-up(md) {
      //height: rem-calc(100px);
    }

    &__logo {
      a{
        svg{
          width:200px;
          height:rem-calc(52px);
          margin:rem-calc(10px 0);
          @media (min-width: 1200px) {
            width:270px;
            height:rem-calc(52px);
            margin:rem-calc(10px 0);
          }
        }
      }
    }
    &--hidden {
      transform: translateY(-100%);
    }
    &__wrapper {
        max-width:1685px;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        //height: 90px;
        align-items: center;
    }
    &__toggle-button {
      display:block;
      @media (min-width: 900px) {
        display:none;
      }
    }
    &__nav {
      background: map-get($colors, vanebo-blue);
      
      .main-menu__nav {
        display:none;
        @media (min-width: 1201px) {
          display:block;
        }
      }
      &.mobile-active {
        position: absolute;
        height:100vh;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left:0;
        top:0;
        .main-menu__nav {
          display:block;
        }
        .menu {
          color:map-get($colors, white);
          margin-bottom: 10%;
          .fa-bars {
            color:map-get($colors, white);
            &::before {
              content:"\f00d";
            }
          }
        }
        .nav {
          flex-direction:column;
          justify-content: center;
          align-items: center;
          li {
            a {
              color:map-get($colors, white);
              font-size:rem-calc(30px);
              line-height: rem-calc(38px);
              font-weight: 600;
              padding:12px 25px;
              &:hover {
                color:map-get($colors, vanebo-orange);
              }
            }
          }
        }
      }
      .menu {
        display:block;
        margin-right:20px;
        font-size: 28px;
        line-height: 31px;
        font-weight: 600;
        color:map-get($colors, white);
        @media (min-width: 1201px) {
          display:none;
          font-size: 25px;
          line-height: 31px;
          font-weight: 600;
          color:map-get($colors,vanebo-blue);
          &:hover {
            color:map-get($colors,vanebo-blue);
          }
        }
        i {
          margin-left:10px;
        }
      }

      @media (min-width: 900px) {
        display: flex;
        align-items: center;
        //padding-top: rem-calc(16px);
        //padding-bottom: rem-calc(16px);
      
        nav {
            .nav {
                li {
                    &.active {
                      a {
                        text-decoration:underline;
                      }
                    }
                    a {
                        color:map-get($colors, white);
                        font-family: 'Open sans', sans-serif;
                        font-size: rem-calc(18px);
                        line-height: rem-calc(24px);
                        font-weight: 400;
                        padding:24px 8px;
                        &:hover {
                          text-decoration: underline;
                          color:map-get($colors, vanebo-orange);
                        }
                        @media (min-width: 1024px) {
                          padding:24px 10px;
                        }
                        @media (min-width: 1300px) {
                          padding:24px 16px;
                        }
                    }
                    &.current_page_item {
                      a {
                        text-decoration: none;
                        color:map-get($colors, vanebo-orange);
                      }
                    }
                }
            }
          }
        }
    }

    #menu-item-186 {
      background-color:map-get($colors, stall-horgen);
      a {
        &:hover {
          color:map-get($colors,white);
        }
      }
    }
  
    .site-logo {
      a {
        display: flex;
  
        img, svg {
          height: rem-calc(30px);
          @include media-breakpoint-down(md) {
            height: rem-calc(60px);
          }
        }
      }
    }
  
    &__menu {
      flex: 1;
      a {
        color: map-get($colors, black);
        font-weight: 700;
        letter-spacing: rem-calc(1.2px);
        font-size: rem-calc(16px);
        text-transform: uppercase;
        text-decoration: none;
        transition: 300ms all ease-out;
  
        &.active {
          color: map-get($colors, primary-pink);
        }
  
        &:hover {
          color: map-get($colors, jazzberry-jam);
        }
      }
  
      .nav {
        display: none;
  
        @include media-breakpoint-up(lg) {
          display: flex;
        }
      }
    }

  }
  